@page
@model Test_YouTube.Views.Shared.FooterPartialModel
@{
	
}
<html>
	<head></head>
	<body>
<div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
		<h4 class="u-text u-text-palette-4-light-1 u-text-1"><center>Pogodel is a trademark and all information has been verified and approved.</center> </h4>
		</div>
</body>
</html>